@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto; */
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
  }
}

/* my custom CSS */

.view-headers {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.register-login-child {
  max-width: 300px;
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto 0 auto;
}

input {
  width: auto;
  height: 2rem;
  margin-bottom: 10px;
  align-self: center;
  background-color: var(--vt-c-text-dark-2);
}

input:focus {
  outline: none !important;
  border: 2px solid hsla(160, 100%, 37%, 1);
}

button {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--vt-c-text-dark-2)
}
